<html>
  <head>
    <style>
body { background-color: <%= @color %>; font-family: Helvetica;}
#info { width: 300px; height: 100px; position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;}
    </style>
  </head>
  <body>
    <div id="info">
      <h1>Ambii-Background</h1>
      <center><h3><%= @color %></h3></center>
    </div>
  </body>
</html>
